[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = "*"

[dev-packages]
python-dev-tools = "*"
pylint = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.8"
